*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-bg-primary: #fefefe;
  --color-bg-secundary: #333;
  --color-bg-tertiary: #333;

  --color-fg-primary: #30b3cb;
  --color-fg-secundary: #30c3cb;
  --color-fg-tertiary: #b83890;

  --color-button-primary: #9b9898;
  --color-button-secondary: #dddddd;

  --s: 15rem; /* size  */
  --m: 2px; /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

body {
  font-family: system-ui;
}

.article {
  position: relative;
  height: 100vh;
}

.background {
  height: 100vh;
  position: absolute;
  top: 0px;
  background-image: url("images/city.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
}

.h2 {
  background: cornflowerblue;
  padding: 1rem;
  margin-bottom: 1rem;
  clip-path: polygon(0 0, 70% 0%, 60% 100%, 0% 100%);
}

.header {
  padding: 2rem;
  color: var(--color-bg-primary);
  display: flex;
  justify-content: space-between;
}

.nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-a {
  color: var(--color-bg-primary);
  text-decoration: none;
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 5px;
}

.nav-a:hover {
  border: 0.1rem var(--color-bg-primary) solid;
}

.p {
  padding: 0 0 1rem 0;
}

.section-home {
  height: calc(100vh - 3rem);
}

.section-Leaders,
.section-robots,
.section-community {
  padding: 1rem 3rem 3rem 3rem;
}

.section-login {
  border: 0.1rem var(--color-bg-primary) solid;
  border-radius: 15px;
  color: var(--color-bg-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

.section-community {
  position: relative;
}

.section-community-background {
  position: absolute;
  top: 5rem;
  z-index: -1;
  font-size: 0; 
}
 
.section-community-background div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  background: rgb(197, 238, 253);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.section-community-background::before { 
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120rem;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 3px),
    #000 0 var(--f)
  );
  z-index: -1;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 350px;
}

.form-login > * {
  margin-bottom: 1rem;
}

.form-h2 {
  color: var(--color-bg-primary);
}

.form-label {
  position: absolute;
  top: 10px;
}

.form-button {
  color: var(--color-bg-primary);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--color-bg-secundary);
  width: 100%;
}

.form-button:hover {
  cursor: pointer;
}

.form-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.input-wrapper {
  position: relative;
  margin-top: 30px;
  margin-inline: auto;
  width: 100%;
}

.input {
  font-size: 20px;
  width: 100%;
  padding: 8px 0;
  padding-right: 30px;
  color: var(--color-bg-primary);
  border: none;
  border-bottom: 1px solid var(--color-bg-primary);
  transition: border-color 250ms;
  background-color: transparent;

  &:focus {
    outline: none;
    border-bottom-color: var(--color-bg-primary);
  }

  &::placeholder {
    color: transparent;
  }

  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }
}

.form-label {
  position: absolute;
  top: 8px;
  left: 0;
  color: var(--color-bg-primary);
  pointer-events: none;
  transform-origin: left center;
  transition: transform 250ms;
}

.input:focus + .form-label,
.input:not(:placeholder-shown) + .form-label {
  transform: translateY(-100%) scale(0.75);
}

.form-a {
  color: var(--color-bg-primary);
  text-decoration: none;
}

.form-icon {
  fill: var(--color-bg-primary);
  position: absolute;
  right: 0.1rem;
}

.text-selection-disable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.robots-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.robots-gallery-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.robots-gallery-photo {
  max-width: 250px;
}
