:root {
	--primary-bg-color: #17A8C1; 
	--secundary-bg-color: #EA601B; 
	--tertiary-bg-color: #434349;
	--fourth-bg-color: #434349;
	

	--primary-color: #FFFFFF; 
	--secundary-color: #E54C5A; 
	--tertiary-color: #FEC898; 
	--fourth-color: #AF7AD7;

}